project_name = "roundready"
environment  = "dev"
aws_region   = "ap-south-1"
vpc_cidr     = "10.10.0.0/16"
az_count     = 2
nat_gateway_mode = "single"
enable_flow_logs = false
kubernetes_version = "1.33"
node_instance_types = ["t3.medium"]
node_min_size = 1
node_desired_size = 1
node_max_size = 2
node_disk_size = 30
enable_public_eks_endpoint = true
eks_public_access_cidrs = ["203.0.113.0/24"]
enable_eks_control_plane_logs = false
rds_postgres_version = "16"
rds_instance_class = "db.t4g.micro"
rds_allocated_storage = 20
rds_max_allocated_storage = 100
rds_multi_az = false
rds_backup_retention_days = 1
rds_deletion_protection = false
rds_skip_final_snapshot = true
rds_apply_immediately = true
rds_performance_insights_enabled = false
rds_monitoring_interval = 0
rds_cloudwatch_log_exports = []
managed_secret_recovery_window_days = 0
redis_engine = "valkey"
redis_engine_version = "8.0"
redis_node_type = "cache.t4g.micro"
redis_replica_count = 0
redis_multi_az = false
redis_snapshot_retention_days = 0
redis_apply_immediately = true
rabbitmq_engine_version = "3.13"
rabbitmq_instance_type = "mq.t3.micro"
rabbitmq_deployment_mode = "SINGLE_INSTANCE"
rabbitmq_general_log_enabled = true
rabbitmq_apply_immediately = true
load_balancer_controller_enabled = false
load_balancer_controller_version = "v2.14.1"
public_ingress_enabled = false
hosted_zone_id = null
hosted_zone_name = null
frontend_domain = null
api_domain = null
public_alb_dns_name = null
public_alb_zone_id = null
application_namespace = "roundready"
create_pod_identity_associations = true
ecr_image_tag_mutability = "IMMUTABLE"
ecr_scan_on_push = true
ecr_tagged_image_retention_count = 10
ecr_untagged_retention_days = 7
ecr_force_delete = true
application_log_retention_days = 7
aws_native_alarms_enabled = false

common_tags = {
  CostCenter = "development"
}
